## 모든 모듈에 있는 application.yaml파일은 git 관리에서 제외한다.
# application.yaml 정확히 이 이름은 github에 안 올라가게 했음
#  prod.yaml github에  올라가도 상관없다.
# -prod는 올라가도 상관없는 내용 혹은 환경변수 사용하겠끔 세팅


**/src/main/resources/application.yaml

HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
